
   <main id="main">

    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/assets2/img/back1.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Services</h2>
        <ol>
          <li><a href="index.html">Acceuil</a></li>
          <li>Services Energie</li>
        </ol>

      </div>
    </div>


      <section id="alt-services-2" class="alt-services section-bg">
        <div class="container" data-aos="fade-up">

          <div class="row justify-content-around gy-4">
            <div class="col-lg-5 d-flex flex-column justify-content-center">
              <h3>Besoins du coté Energie?</h3>
              <strong><p>ELECT-BTP est à votre service</p></strong>

              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                <i><img src="/assets/assets2/img/Generalités/energie4.jpg" width="75px" alt=""></i>
                <div>
                  <h4><h5 href="" class="stretched-link">Installation éléctrique et distribution HT/BT</h5></h4>
                </div>
              </div>

              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                <i><img src="/assets/assets2/img/Generalités/energie2.jpg" width="75px" alt=""></i>
                <div>
                  <h4><h5 href="" class="stretched-link">Poste de transformation et cellule MT</h5></h4>

                </div>
              </div>

              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                <i><img src="/assets/assets2/img/Generalités/energie3.jpg" width="75px" alt=""></i>
                <div>
                  <h4><h5 href="" class="stretched-link">Création et installation d'armoires éléctriques</h5></h4>

                </div>
              </div>

              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                <i><img src="/assets/assets2/img/Generalités/energie4.jpg" width="75px" alt=""></i>
                <div>
                  <h4><h5 href="" class="stretched-link">Sécurisation du réseau</h5></h4>

                </div>
              </div>
            </div>

            <div class="col-lg-6 img-bg" data-aos="zoom-in" data-aos-delay="100">

              <div class="col-lg-9 d-flex flex-column justify-content-center">
               <br><br><br><br><br><br>
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                  <i><img src="/assets/assets2/img/Generalités/energie4.jpg" width="75px" alt=""></i>
                  <div>
                    <h4><h5 href="" class="stretched-link">Éclairage architectural et technique</h5></h4>

                  </div>
                </div>

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                  <i><img src="/assets/assets2/img/Generalités/energie4.jpg" width="75px" alt=""></i>
                  <div>
                    <h4><h5 href="" class="stretched-link">Electricité tertiaire et domestique (Courant fort et faible)</h5></h4>

                  </div>
                </div>

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                  <i><img src="/assets/assets2/img/Generalités/energie4.jpg" width="75px" alt=""></i>
                  <div>
                    <h4><h5 href="" class="stretched-link">Energie renouvelable</h5></h4>

                  </div>
                </div>

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                  <i><img src="/assets/assets2/img/Generalités/energie4.jpg" width="75px" alt=""></i>
                  <div>
                    <h4><h5 href="" class="stretched-link">Conseils et Formation des acteurs</h5></h4>

                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>
      </section>

  </main>
