<main id="main">

  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/assets2/img/back1.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Politiques</h2>
      <ol>
        <li><a href="index.html">Acceuil</a></li>
        <li>Politiques</li>
      </ol>

    </div>
  </div>

  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row position-relative">

        <div class="col-lg-12">
          <h2>Nos politiques à ELECT-BTP?</h2>
          <div class="our-story">
            <h3> Politiques SST</h3>
            <p>
              La gestion de la santé sécurité fait partie intégrante du charisme organisationnel de notre société ELECT-BTP et nous encourageons nos collaborateurs à s’inscrire dans cette démarche tout en se conformant aux exigences légales, réglementaires ainsi qu’aux respects des valeurs de la société.
              Nos objectifs santé-sécurité seront atteints de la façon suivante : <br>
                  * Amélioration des connaissances du personnel en matière de SST ;<br>
                  * Elaboration d’un rapport annuel en SST ;<br>
                  * Elaboration des procédures de travail sécuritaires ;<br>
                  * Assurance de la sécurité et de la protection de la santé physique et mentale de ses travailleurs ;<br>
                  * Fourniture des ressources nécessaires afin que chaque employé puisse remplir ses fonctions de façon efficaces et sécuritaires ;<br>
                  * Conformités aux exigences légales et à celui de ses clients<br>
                  * Promouvoir une culture sécuritaire qui place l’humain au centre des processus ;<br>
                  * Mettre en place un registre des risques et toujours faire une évaluation à toutes activités avant le démarrage des projets.<br>


              Notre direction générale est responsable d’assurer que cette politique est mise en œuvre et appliquée dans toute l'organisation. La politique sera ouvertement communiquée aux employés de la Société, à toute autre personne associée aux activités qui sont sous le contrôle de ELECT-BTP et révisée annuellement.</p>

          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row position-relative">

        <div class="col-lg-12">
          <div class="our-story">
            <h6 style="font-size: 30px;">Politique Environnementale</h6><br>
            <p> ELECT-BTP est une société à responsabilité limitée spécialisé dans le domaine du bâtiment et de l’électromécanique, conscient des enjeux environnementaux et de l’impact de ses activités sur celui-ci, elle s’est inscrite dans une politique environnementale en vue de préserver et de protéger l’environnement à travers l’évaluation des aspects environnementaux de ses activités.
              En vue d’atteindre ses objectifs environnementaux, la direction s’engage à :
                  • Former son personnel en matière de gestion des déchets et des ressources naturelles ;<br>
                  • Elaborer des procédures de gestion des déchets en vue de limiter leurs effets négatifs sur l’environnement ;<br>
                  • 	Mettre à jour et veiller aux respects des exigences légales et à celui de ses clients afin de protéger l’environnement pour l’atteinte des objectifs du développement durable ;<br>
                  • Cultiver une culture écologique en son sein qui place l’environnement au centre des processus ;<br>
                  • Adopter des attitudes plus positives en y intégrant les bons gestes écologiques;<br>
                  • Mettre en place un registre des aspects environnementaux significatifs de ses différentes activités et toujours faire une évaluation environnementale avant le démarrage des projets.<br>
                  • Mobiliser et mettre en œuvre toutes les ressources nécessaires pour l’atteinte des objectifs environnementaux.<br>
                  • Communiquer avec toutes les parties intéressées concernant les risques environnementaux et leurs modes de gestion ;<br>
                  • Veuillez à l’amélioration continue des performances environnementales par la mise en œuvre d’alternatives respectueuses qui renforcent la position de l’organisme sur le marché,<br>
              Notre priorité est de léguer à la génération future un cadre de travail sain et veiller à ce que nos employés et parties intéressées travaillent en priorisant le volet environnemental.<br>
              </p>

          </div>
        </div>

      </div>

    </div>
  </section>
