<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/assets2/img/gene.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Généralités</h2>
      <ol>
        <li><a href="index.html">Acceuil</a></li>
        <li>Généralités</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row position-relative">

        <!--<div class="col-lg-7 about-img" style="background-image: url(assets/assets2/img/Generalités/porte.jpg);"></div>-->

        <div class="col-lg-12">
          <h2>Savoir plus sur ELECT-BTP?</h2>
          <div class="our-story">
            <h3> Notre histoire</h3>
            <p><strong>C’est l’histoire d’une union entre plusieurs Ingénieurs électriciens, mécaniciens industriels, automaticiens et des Ingénieurs en génie civils qui partagent les mêmes
                          valeurs dans l’accomplissement de leurs métiers.
                          Des hommes d’expériences qui ont le souhait de mettre
                          en commun leurs savoir-faire.
                          ELECT-BTP est un réseau d’experts au service du Burkina Faso et du monde
                          entier. C’est également un ensemble de partenariats entre des entreprises
                          régionales, nationales et internationales du secteur de l’énergie et du BTP : des
                          entreprises qui s’investissent pour participer à l’essor d’une économie locale.
                          Ensemble nous capitalisons sur nos expériences et nos moyens. Au-delà de
                          l’union, c’est un modèle sociétal que nous souhaitons mettre en lumière : celui de
                          la solidarité.</strong></p>

          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row position-relative">

        <div class="col-lg-7 about-img" style="background-image: url(assets/assets2/img/test.jpg);"></div>

        <div class="col-lg-7">
          <h2>Comment imaginez vous notre entreprise??</h2>
          <div class="our-story">
            <h3> Présentation</h3>
            <p><strong>La compagnie ELECT-BTP est une firme de Génie Conseils basée au Burkina Faso
              et spécialisée dans la réalisation des projets industriels et commerciaux.
              Nous desservons principalement l’industrie minière mais notre équipe technique
              polyvalente peut accomplir toute nature de défis technique.
              Nous appuyons nos clients du début à la fin de leur projet, de la définition initiale
              du besoin jusqu’au démarrage final.
              A cet effet, nous nous tenons à votre disposition pour mener à bonnes fins toute
              opération que vous choisiriez de nous confier.
              Dans l’espoir de retenir votre attention lors de votre consultation, nous vous prions
              de croire, en l’assurance de nos sentiments les plus dévoués.</strong></p>

          </div>
        </div>

      </div>

    </div>
  </section>


  <section id="services" class="services section-bg">

    <section id="team" class="team section">
      <div class="container" data-aos="fade-up">


    <div class="section-header">
      <h2>Nos valeurs</h2>
    </div>

        <div class="row">

          <div class="container mt-5 mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class='bx bx-line-chart-down'></i> </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">Efficacité</h6>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h3 class="heading">Nous répondons parfaitement à tout vos besoins</h3>
                            <div class="mt-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="mt-3"> <span class="text1">90%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"><i class='bx bxs-megaphone'></i></div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">Écoute</h6>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h3 class="heading"> Soyez rassuré de nous contacté pour vos besoins</h3>
                            <div class="mt-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="mt-3"> <span class="text1">100%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class='bx bx-wink-smile'></i> </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">Satisfaction</h6> <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h3 class="heading">Vous serez satisfait de travailler avec nous</h3>
                            <div class="mt-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="mt-3"> <span class="text1">85%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                  <div class="card p-3 mb-2">
                      <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                              <div class="icon"><i class='bx bxs-brush'></i> </div>
                              <div class="ms-2 c-details">
                                  <h6 class="mb-0">Créativité</h6> <span></span>
                              </div>
                          </div>
                      </div>
                      <div class="mt-5">
                          <h3 class="heading">Nous avons l'amour du travail bien fait</h3>
                          <div class="mt-5">
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <div class="mt-3"> <span class="text1">95%</span> </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"><i class='bx bxs-time'></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Disponibilité</h6> <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Nous sommes disponibles 24h/24 et ce 7j/7</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">100%</span> </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>

      </div>
    </div>
    </section>
</section>

  <section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Notre équipe</h2>
        <p>Quelques menbres</p>
      </div>

      <div class="row gy-5">

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="assets/assets2/img/dg.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info text-center">
            <h4> Mathias A.G.GUENGANE </h4>
            <span>Directeur général</span>
            <p>description</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="assets/assets2/img/cyprien.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info text-center">
            <h4>Z.Christophe Patric GUENGANE</h4>
            <span>Directeur général adjoint</span>
            <p>description</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="assets/assets2/img/laiticia.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info text-center">
            <h4>H.J Laititia GUENGANE</h4>
            <span>Secretaire comptable</span>
            <p>description</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="assets/assets2/img/cyprien.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info text-center">
            <h4>Marie Brice BADOLO</h4>
            <span>Directeur technique</span>
            <p>description</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
          <div class="member-img" >
            <img src="assets/assets2/img/cyprien.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info text-center">
            <h4>M Cyprien TOMPOUDI</h4>
            <span>Superviseur génie civile</span>
            <p>description</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
          <div class="member-img">
            <img src="assets/assets2/img/yac.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info text-center">
            <h4>Yacouba KORBÉOGO</h4>
            <span>chargé de projets éléctriques</span>
            <p>description</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Our Team Section -->

  <!-- End About Section -->
</main>
