<section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Bienvenue à
              <span>  <h1 class="ml5">
                <span class="text-wrapper">
                  <span class="line line1"></span>
                  <span class="letters letters-left">ELECT</span>
                  <span class="letters ampersand">-</span>
                  <span class="letters letters-right">BTP</span>
                  <span class="line line2"></span>
                </span>
              </h1></span>
            </h2>
           <strong><p data-aos="fade-up">La compagnie ELECT-BTP est une firme de Genie Conseils basée au Burkina Faso et spécialisée dans la realisation des projets industriels et commerciaux</p></strong>
            <a data-aos="fade-up" data-aos-delay="200" href="/generalites" class="btn-get-started">Plus d'informations sur nous?</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(/assets/img/hero-carousel/hero-carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(/assets/assets2/img/back2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(/assets/assets2/img/back3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(/assets/assets2/img/back4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(/assets/assets2/img/back5.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section>


    <main id="main">

        <section id="services" class="services section-bg ">

          <section id="about" class="about section">
            <div class="container" data-aos="fade-up">

              <div class="container-fluid">

                <div class="content col-xl-5 d-flex align-items-stretch">
                  <div class="content">
                    <h4 style="color: rgb(224, 33, 33);">Pourquoi choisir ELECT-BTP?</h4>
                    <p>
                     Disposant d'une équipe performante et polyvalente pouvant accomplir toutes natures de défis techniques
                     nous appuyons nos clients du début a la fin de leur projet en leur assurant la satisfaction finale
                    </p>
                  </div>
                </div>

              </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                      <i class="bx bx-check-double"></i>
                        <h4>Efficacité</h4>
                        <p>texte</p>
                    </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                      <i class="bx bx-check-shield"></i>
                        <h4>Assurance</h4>
                        <p>texte</p>
                    </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                      <i class="bx bx-like"></i>
                      <h4>Confiance</h4>
                      <p>texte</p>
                    </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                      <i class="bx bx-hourglass"></i>
                      <h4>Disponibilité</h4>
                      <p>texte</p>
                    </div>
                  </div>
                </div>

            </div>
          </section>

          <div class="container" data-aos="fade-up">

            <div class="section-header">
              <h2 style="color: rgb(0, 0, 0);">Nos services</h2>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="icofont-computer"></i>
                  <h4><a href="#">Energie</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="icofont-chart-bar-graph"></i>
                  <h4><a href="#">Genie Civil</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="icofont-image"></i>
                  <h4><a href="#">Maintenance industrielle</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="icofont-settings"></i>
                  <h4><a href="#">Bureau d'etude</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="icofont-settings"></i>
                  <h4><a href="#">Vente et fourniture de matériéls</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="icofont-settings"></i>
                  <h4><a href="#">Depannage</a></h4>
                </div>
              </div>
            </div>

          </div>
        </section>

    <section id="constructions" class="constructions section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2 style="color: rgb(0, 0, 0);">Nos formations</h2>
          <p>petit texte</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(assets/assets2/img/Generalités/energie2.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Formation nom</h4>
                    <p>Texte</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(assets/assets2/img/Generalités/energie3.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Formation nom</h4>
                    <p>Texte</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(assets/assets2/img/Generalités/energie4.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Formation nom</h4>
                    <p>Texte</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(assets/assets2/img/Generalités/energie5.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Formation nom</h4>
                    <p>Texte</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>


    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Partenaires</h2>
          <p>petit texte</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                  <div class="container-fluid">
                            <img width="300px" style="margin-right: 25px;" src="assets/assets2/img/clients/sonabel.png" alt="">
                  </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="container-fluid">
                  <img width="300px" style="margin-right: 25px;" src="assets/assets2/img/clients/sonabel.png" alt="">
                </div>
            </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>



  </main>
